Repository SalesforceFoundation/OutboundFundsModule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint --max-warnings 0, lockfile-lint

.lintstagedrc:

{
    "*.{cls,apex,js,html,md,yml,yaml,json}": [
        "prettier --write"
    ],
    "*.{cls,apex,js,html,md,xml,sql,py,yml,yaml,cmp,design}": [
        "cspell"
    ],
    "*.js": [
        "eslint --max-warnings 0"
    ],
    "yarn.lock": [
        "lockfile-lint"
    ]
}

Updating Requirement Namespace on Robot Test
  robot/OutboundFunds/tests/browser/Requirements/Requirements.robot
Due: none

Updated French translation for OutboundFunds
  force-app/main/default/objectTranslations/Funding_Request__c-fr/Applying_Organization__c.fieldTranslation-meta.xml
Due: cspell

Update README.md
  README.md
Due: prettier --write, cspell

de translations; lint-staged allows no cspell file
  .lintstagedrc
  force-app/main/default/objectTranslations/Review__c-de/FundingRequest__c.fieldTranslation-meta.xml
  force-app/main/default/objectTranslations/Review__c-de/Review__c-de.objectTranslation-meta.xml
Due: cspell

Review__c.Status__c de picklist values
  force-app/main/default/objectTranslations/Review__c-de/Status__c.fieldTranslation-meta.xml
Due: cspell

Review__c.Status__c fr translation
  force-app/main/default/objectTranslations/Review__c-fr/Status__c.fieldTranslation-meta.xml
Due: cspell

Updated/Added CODEOWNERS with ECCN
  .github/CODEOWNERS
Due: none

Revert "Review__c.Status__c fr translation"
  force-app/main/default/objectTranslations/Review__c-fr/Status__c.fieldTranslation-meta.xml
Due: cspell

Revert "Review__c.Status__c de picklist values"
  force-app/main/default/objectTranslations/Review__c-de/Status__c.fieldTranslation-meta.xml
Due: cspell

Revert "de translations; lint-staged allows no cspell file"
  .lintstagedrc
  force-app/main/default/objectTranslations/Review__c-de/FundingRequest__c.fieldTranslation-meta.xml
  force-app/main/default/objectTranslations/Review__c-de/Review__c-de.objectTranslation-meta.xml
Due: cspell

Revert Review__c-de bad unicode
  .lintstagedrc
  force-app/main/default/objectTranslations/Review__c-de/Review__c-de.objectTranslation-meta.xml
Due: cspell

W-10062371 Updated SFDO 234 translations (#164)
  .lintstagedrc
  force-app/main/default/objectTranslations/Funding_Request__c-fr/Applying_Organization__c.fieldTranslation-meta.xml
  force-app/main/default/objectTranslations/Review__c-de/Review__c-de.objectTranslation-meta.xml
Due: cspell

Update README for Winter '22
  README.md
Due: prettier --write, cspell

238 first commit
  README.md
Due: prettier --write, cspell

Updated group links in installer
  README.md
  cumulusci.yml
  metadeploy/labels_de.json
  metadeploy/labels_en.json
  metadeploy/labels_en_GB.json
  metadeploy/labels_es.json
  metadeploy/labels_fr.json
  metadeploy/labels_ja.json
  metadeploy/labels_nl.json
Due: prettier --write, cspell

Undo translation file updates
  metadeploy/labels_de.json
  metadeploy/labels_en.json
  metadeploy/labels_en_GB.json
  metadeploy/labels_es.json
  metadeploy/labels_fr.json
  metadeploy/labels_ja.json
  metadeploy/labels_nl.json
Due: prettier --write

update description text
  cumulusci.yml
Due: prettier --write, cspell

updated readme
  README.md
Due: prettier --write, cspell

updated labels
  metadeploy/labels_en.json
Due: prettier --write

updated translation files
  metadeploy/labels_de.json
  metadeploy/labels_en_GB.json
  metadeploy/labels_es.json
  metadeploy/labels_fr.json
  metadeploy/labels_ja.json
  metadeploy/labels_nl.json
Due: prettier --write

W-10186674 - [OFM+] Installers: Update Power of Us link to Trailblazer community (#168)
  README.md
  cumulusci.yml
  metadeploy/labels_de.json
  metadeploy/labels_en.json
  metadeploy/labels_en_GB.json
  metadeploy/labels_es.json
  metadeploy/labels_fr.json
  metadeploy/labels_ja.json
  metadeploy/labels_nl.json
Due: prettier --write, cspell

adding ECCN and GUSINFO
  .github/CODEOWNERS
Due: none

Update NPM development packages to @latest
  .cspell.json
  .eslintrc.yml
  .gitignore
  .prettierignore
  cumulusci.yml
  package.json
  sfdx-project.json
  yarn.lock
Due: prettier --write, cspell, lockfile-lint

Reverting to SFDC API 52.0
  cumulusci.yml
  package.json
  sfdx-project.json
  yarn.lock
Due: prettier --write, cspell, lockfile-lint

W-10048284 Resolve all known dependabot alerts (#170)
  .cspell.json
  .eslintrc.yml
  .gitignore
  .prettierignore
  cumulusci.yml
  package.json
  yarn.lock
Due: prettier --write, cspell, lockfile-lint

Remove isotope dependency
  force-app/main/default/layouts/Review__c-Review Layout.layout-meta.xml
Due: cspell

Adding missing review columns to funding request layout
  force-app/main/default/layouts/Funding_Request__c-Funding Request Layout.layout-meta.xml
Due: cspell

Remove isotope dependency (#173)
  force-app/main/default/layouts/Review__c-Review Layout.layout-meta.xml
Due: cspell

Adding missing review columns to funding request layout (#174)
  force-app/main/default/layouts/Funding_Request__c-Funding Request Layout.layout-meta.xml
Due: cspell

Updates latest release for 240
  README.md
Due: prettier --write, cspell

W-8988823 Require Apex code coverage
  cumulusci.yml
Due: prettier --write, cspell

W-8988823 Require Apex code coverage (#180)
  cumulusci.yml
Due: prettier --write, cspell

W-11131351 Fix dependabot issues
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

Updating CODEOWNERS
  .github/CODEOWNERS
Due: none

W-11131351 Fix dependabot issues (#181)
  .github/CODEOWNERS
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

W-11726109 Remove help.salesforce and powerofus links
  cumulusci.yml
Due: prettier --write, cspell

W-11726109 Remove help.salesforce and powerofus links (#184)
  cumulusci.yml
Due: prettier --write, cspell
