Repository SalesforceFoundation/OutboundFundsModule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint, lockfile-lint

.lintstagedrc:

{
    "*.{cls,apex,js,html,md,yml,yaml,json}": [
        "prettier --write"
    ],
    "*.{cls,apex,js,html,md,xml,sql,py,yml,yaml,cmp,design}": [
        "cspell --no-must-find-files"
    ],
    "*.js": [
        "eslint"
    ],
    "yarn.lock": [
        "lockfile-lint"
    ]
}

Updating installer plan text
  cumulusci.yml
Due: prettier --write, cspell --no-must-find-files

Used formatDate to match schedule date with first date
  force-app/main/default/aura/disbursementsCreate/disbursementsCreateHelper.js
Due: prettier --write, cspell --no-must-find-files, eslint

Formatting
  force-app/main/default/aura/disbursementsCreate/disbursementsCreateHelper.js
Due: prettier --write, cspell --no-must-find-files, eslint

Update disbursementsCreateHelper.js
  force-app/main/default/aura/disbursementsCreate/disbursementsCreateHelper.js
Due: prettier --write, cspell --no-must-find-files, eslint

Revert "Update disbursementsCreateHelper.js"
  force-app/main/default/aura/disbursementsCreate/disbursementsCreateHelper.js
Due: prettier --write, cspell --no-must-find-files, eslint

Update cumulusci.yml for static release notes
  cumulusci.yml
Due: prettier --write, cspell --no-must-find-files

Prettier update
  cumulusci.yml
Due: prettier --write, cspell --no-must-find-files

Update from prettier
  cumulusci.yml
Due: prettier --write, cspell --no-must-find-files

W-12674462 - Update cumulusci.yml for static release notes (#189)
  cumulusci.yml
Due: prettier --write, cspell --no-must-find-files

Feature/244 scheduled date mismatches with first date while scheduling disbursements (#191)
  force-app/main/default/aura/disbursementsCreate/disbursementsCreateHelper.js
Due: prettier --write, cspell --no-must-find-files, eslint

Update disbursementsCreate.cmp
  force-app/main/default/aura/disbursementsCreate/disbursementsCreate.cmp
Due: cspell --no-must-find-files

Update disbursementsCreate.cmp (#197)
  force-app/main/default/aura/disbursementsCreate/disbursementsCreate.cmp
Due: cspell --no-must-find-files

CODEOWNERS Asterisk Fix
  .github/CODEOWNERS
Due: none

Fixing MD link formatting in Japanese
  metadeploy/labels_ja.json
Due: prettier --write

Update to kickoff build
  metadeploy/labels_fr.json
Due: prettier --write

Rev the previous update
  metadeploy/labels_fr.json
Due: prettier --write

Kickoff all builds
  force-app/main/default/objectTranslations/Disbursement__c-en_US/Disbursement_Date__c.fieldTranslation-meta.xml
Due: cspell --no-must-find-files

Revert last update
  force-app/main/default/objectTranslations/Disbursement__c-en_US/Disbursement_Date__c.fieldTranslation-meta.xml
Due: cspell --no-must-find-files

Use private GitHub Actions runners
  .github/workflows/cspell.yml
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .github/workflows/label_audit.yml
  .github/workflows/lockfile-lint.yml
  .github/workflows/prettier.yml
Due: prettier --write, cspell --no-must-find-files

Use private GitHub Actions runners (#205)
  .github/workflows/cspell.yml
  .github/workflows/eslint.yml
  .github/workflows/jest.yml
  .github/workflows/label_audit.yml
  .github/workflows/lockfile-lint.yml
  .github/workflows/prettier.yml
Due: prettier --write, cspell --no-must-find-files

Update code-owner
  .github/CODEOWNERS
Due: none

Update code-owner (#206)
  .github/CODEOWNERS
Due: none

Update cumulusci.yml for release notes statement
  cumulusci.yml
Due: prettier --write, cspell --no-must-find-files

Update cumulusci.yml for release notes statement (#207)
  cumulusci.yml
Due: prettier --write, cspell --no-must-find-files

Update old API versions to 63
  force-app/main/default/aura/disbursementsCreate/disbursementsCreate.cmp-meta.xml
  force-app/main/default/classes/controllers/disbursementsCreate/disbursementsCreateController.cls-meta.xml
  force-app/main/default/classes/controllers/disbursementsCreate/tests/disbursementsCreateController_TEST.cls-meta.xml
Due: cspell --no-must-find-files

Update API version to 62.0
  force-app/main/default/aura/disbursementsCreate/disbursementsCreate.cmp-meta.xml
  force-app/main/default/classes/controllers/disbursementsCreate/disbursementsCreateController.cls-meta.xml
  force-app/main/default/classes/controllers/disbursementsCreate/tests/disbursementsCreateController_TEST.cls-meta.xml
Due: cspell --no-must-find-files
