Repository SalesforceFoundation/OutboundFundsModule: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint --max-warnings 0, lockfile-lint

removed comments
  force-app/main/default/lwc/dataTableWrapper/__tests__/dataTableWrapper.test.js
Due: prettier --write, cspell, eslint --max-warnings 0

Only runs eslint on LWCs
  .eslintignore
Due: none

Robor Test - Add Funding Request Role
  robot/OutboundFunds/resources/FundingRequestPageObject.py
  robot/OutboundFunds/resources/OutboundFunds.py
  robot/OutboundFunds/resources/locators_52.py
  robot/OutboundFunds/tests/browser/FundingRequest/FundingRequest.robot
Due: cspell

adding test back
  robot/OutboundFunds/tests/browser/FundingProgram/FundingProgram.robot
Due: none

adding check for api version
  robot/OutboundFunds/resources/FundingRequestPageObject.py
  robot/OutboundFunds/resources/ReviewPageObject.py
  robot/OutboundFunds/resources/locators_52.py
  robot/OutboundFunds/tests/browser/Requirements/Requirements.robot
Due: cspell

fixing date variable
  robot/OutboundFunds/tests/browser/Requirements/Requirements.robot
Due: none

Update README.md
  README.md
Due: prettier --write, cspell

add a test to display the lightning-datatable
  force-app/main/default/lwc/dataTableWrapper/__tests__/dataTableWrapper.test.js
Due: prettier --write, cspell, eslint --max-warnings 0

upping statement coverage
  .lintstagedrc
  jest.config.js
  package.json
Due: prettier --write, cspell, eslint --max-warnings 0

Robot - Share a Funding Request and Requirement
  robot/OutboundFunds/resources/OutboundFunds.py
  robot/OutboundFunds/resources/OutboundFunds.robot
  robot/OutboundFunds/resources/RequirementPageObject.py
  robot/OutboundFunds/resources/locators_52.py
  robot/OutboundFunds/resources/unpackaged/qa/permissionsets/SubmitReview.permissionset-meta.xml
  robot/OutboundFunds/tests/browser/FundingRequest/FundingRequest.robot
  robot/OutboundFunds/tests/browser/Requirements/Requirements.robot
Due: cspell

resolving merge conflicts
  robot/OutboundFunds/resources/OutboundFunds.robot
  robot/OutboundFunds/resources/locators_52.py
Due: cspell

added check for Spring and Summer 21 locators
  robot/OutboundFunds/resources/OutboundFunds.py
  robot/OutboundFunds/tests/browser/FundingRequest/FundingRequest.robot
Due: cspell

changes requested by Sean
  force-app/main/default/lwc/dataTableWrapper/__tests__/dataTableWrapper.test.js
Due: prettier --write, cspell, eslint --max-warnings 0

@W-9359339 Feature/jest framework data table wrapper (#139)
  force-app/main/default/lwc/dataTableWrapper/__tests__/dataTableWrapper.test.js
Due: prettier --write, cspell, eslint --max-warnings 0

fixing an error
  robot/OutboundFunds/tests/browser/Requirements/Requirements.robot
Due: none

Update MetaDeploy Labels
  metadeploy/labels_en.json
Due: prettier --write

Update MetaDeploy Labels (#141)
  metadeploy/labels_en.json
Due: prettier --write

Robot - Verify Review Column names
  robot/OutboundFunds/tests/browser/Review/Review.robot
Due: none

fixing shadowroot error
  robot/OutboundFunds/resources/OutboundFunds.py
Due: cspell

Translated installer labels for Outboundfunds Summer '21
  metadeploy/labels_de.json
  metadeploy/labels_en_GB.json
  metadeploy/labels_es.json
  metadeploy/labels_fr.json
  metadeploy/labels_ja.json
  metadeploy/labels_nl.json
Due: prettier --write

Minor fixes in translated installer labels for Outboundfunds Summer '21
  metadeploy/labels_de.json
  metadeploy/labels_en_GB.json
  metadeploy/labels_fr.json
  metadeploy/labels_ja.json
Due: prettier --write

Fix cspell issue
  robot/OutboundFunds/resources/OutboundFunds.py
Due: cspell

Add missing translations
  force-app/main/default/objectTranslations/Review__c-de/Review__c-de.objectTranslation-meta.xml
  force-app/main/default/objectTranslations/Review__c-en_US/Review__c-en_US.objectTranslation-meta.xml
  force-app/main/default/objectTranslations/Review__c-es/Review__c-es.objectTranslation-meta.xml
  force-app/main/default/objectTranslations/Review__c-fr/Review__c-fr.objectTranslation-meta.xml
  force-app/main/default/objectTranslations/Review__c-ja/Review__c-ja.objectTranslation-meta.xml
  force-app/main/default/objectTranslations/Review__c-nl_NL/Review__c-nl_NL.objectTranslation-meta.xml
Due: cspell

Translation update from LQA for OFM Summer 21
  force-app/main/default/objectTranslations/Review__c-fr/Status__c.fieldTranslation-meta.xml
Due: cspell

Fix dependabot issues
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

Upgrade from 51.0 to 52.0 and upgrade sfdx-lwc-jest
  package.json
  sfdx-project.json
  yarn.lock
Due: prettier --write, lockfile-lint

Upgrade sfdx-lwc-jest to 0.14.0
  package.json
  yarn.lock
Due: prettier --write, lockfile-lint

change the title for the error message
  force-app/main/default/labels/CustomLabels.labels-meta.xml
Due: cspell

add tabs component to the Requirement record page
  force-app/main/default/flexipages/Milestone_Record_Page.flexipage-meta.xml
Due: cspell

Add RE codeowners PR workflow
  .github/workflows/codeowners.yml
Due: prettier --write, cspell

Open Reviews list view shows Name field first.
  force-app/main/default/objects/Review__c/listViews/OpenReviews.listView-meta.xml
Due: cspell

fixing error on disbursement permission robot
  robot/OutboundFunds/tests/browser/Disbursements/DisbursementPermissions.robot
Due: none

Switch to shared workflow
  .github/workflows/codeowners.yml
Due: prettier --write, cspell

Add RE codeowners PR workflow (#156)
  .github/workflows/codeowners.yml
Due: prettier --write, cspell

Fixing Requirement Robot test - This commit fixes the issue that was preventing the Requirement robot test to run successfully.
  robot/OutboundFunds/resources/RequirementPageObject.py
  robot/OutboundFunds/resources/locators_52.py
  robot/OutboundFunds/tests/browser/Requirements/Requirements.robot
Due: cspell

Updating Requirements & FundingRequest Robot Tests
  robot/OutboundFunds/resources/OutboundFunds.py
  robot/OutboundFunds/resources/locators_52.py
  robot/OutboundFunds/tests/browser/Review/Review.robot
  robot/OutboundFunds/tests/browser/Review/SubmitReview.robot
Due: cspell

Path conditions:
  prettier --write: any of: *.{cls,apex,js,html,md,yml,yaml,json}
  cspell: any of: *.{cls,apex,js,html,md,xml,sql,py,yml,yaml,cmp,design}
  eslint --max-warnings 0: any of: *.js
  lockfile-lint: any of: yarn.lock
